@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inconsolata:wght@200..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
  --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
  --Grayish-Blue: hsl(212, 23%, 69%);
  --Light-Grayish-Blue: hsl(210, 46%, 95%);
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: var(--Light-Grayish-Blue);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 190px;
  margin-left: 60px;
  max-width: 1440px;
}

.main-wrapper > div > img {
  width: 424px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  margin-top: 5px;
  clip-path: inset(0 80px 0 0);
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #ffffff;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  position: relative;
  right: 5.5%;
  padding-top: 65px;
  padding-right: 40px;
}

.text-wrapper p:nth-child(1) {
  font-size: 25px;
  font-weight: 600;
  position: relative;
  bottom: 40px;
  color: var(--Very-Dark-Grayish-Blue);
}

.text-wrapper p:nth-child(2) {
  color: var(--Very-Dark-Grayish-Blue);
  position: relative;
  bottom: 40px;
}

.avatar-icon {
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.avatar-wrapper {
  display: flex;
  gap: 100px;
  padding-right: 50px;
  padding-top: 15px;
  position: relative;
  bottom: 40px;
}

.avatar-wrapper img:nth-child(1) {
  width: 60px;
  height: 60px;
  position: relative;
  left: 6%;
}

.social-icons > .share-btn > img {
  width: 20px;
  height: 20px;
}

.social-icons > .share-btn {
  position: relative;
  bottom: 35%;
  left: 105%;
}

.avatar-wrapper h3:nth-child(1) {
  font-size: 15px;
  font-weight: 600;
  color: var(--Very-Dark-Grayish-Blue);
}

.avatar-wrapper h3:nth-child(2) {
  font-size: 13px;
  color: var(--Grayish-Blue);
  font-weight: 500;
}

.avatar-wrapper > div {
  display: flex;
  flex-direction: column;
  gap: 3px;
  position: relative;
  right: 50px;
  top: 5px;
}

.social-icons {
  position: relative;
  left: 5px;
  padding-top: 12px;
}

.share-btn {
  background-color: var(--Light-Grayish-Blue);
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border: none;
}

.social-icons-window-visible {
  display: flex;
  gap: 30px;
  padding: 20px 25px;
  border-radius: 10px;
  background-color: var(--Very-Dark-Grayish-Blue);
  position: absolute;
  bottom: 168%;
  left: -160%;
}

.social-icons > div > h5 {
  color: #ffffff;
  font-weight: 200;
  letter-spacing: 5px;
}

.social-icons-window {
  display: none;
}

/* გასარჩევია */
.social-icons-window-visible::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid var(--Very-Dark-Grayish-Blue);
}
/* გასარჩევია */

@media screen and (max-width: 375px) {
  .main-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-left: 30px;
    max-width: 375px;
  }

  .main-wrapper > div > img {
    width: 424px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-top: 55px;
    padding-left: 40px;
    padding-right: 40px;
    clip-path: inset(0 0 0 0);
  }

  .text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #ffffff;
    position: relative;
    left: 0.2%;
    bottom: 6%;
    width: 345px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    font-size: 10px;
  }

  .text-wrapper p:nth-child(1) {
    width: 335px;
    font-size: 16px;
    padding-left: 40px;
  }

  .text-wrapper p:nth-child(2) {
    padding-left: 10px;
  }

  .avatar-wrapper {
    display: flex;
    gap: 10px;
    padding-right: -3px;
    padding-top: 15px;
    position: relative;
    bottom: 40px;
  }

  .avatar-wrapper h3:nth-child(1) {
    font-size: 13px;
    position: relative;
    left: 65px;
  }

  .avatar-wrapper h3:nth-child(2) {
    font-size: 13px;
    position: relative;
    left: 65px;
  }

  .social-icons-window-visible {
    display: flex;
    gap: 30px;
    padding: 25px 75px;
    border-radius: 10px;
    background-color: var(--Very-Dark-Grayish-Blue);
    position: absolute;
    bottom: 10%;
    left: -530%;
  }

  .social-icons-window-visible::after {
    display: none;
  }
}
